<html>
  <head>
    <title>Office Hours Queue</title>
    <!-- new  stuff -->
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>

  <body>
    <div class="nav level is-marginless">
      <h1 style="font-size:2rem; font-weight:600; margin-left:1rem">Office Hours Queue</h1>
      <% if (user) { %>
      <p>Hi <b><%= user %></b>!</p>
      <p>
      <a class="button is-primary is-outlined" id="faq-button" href="#">FAQ</a>
      <a class="button is-primary is-outlined" href="/account/logout">Log out</a>
      <!-- modal for faq -->
      <div class="modal faqm" style="display:none;">
        <div class="modal-background"></div>
        <div class="modal-content" style="text-align: right">
          <button class="delete is-large" aria-label="close" id="close-modal"></button>
          <p align="left">
            No more blackboard OH queues! View the queue in the column to the left. Grayed spots are currently being seen by TAs.
            <br><br>
            Students: join the queue in two clicks. Edit or remove your own spot(s) in the queue 
            <br><br> 
          TAs: Click on students in the queue to see them or remove them from the queue.</p>
        </div>
      </div>
      </p>
      <% } %>
    </div>
    <div class="main-body">
      <div class="left-col">
      <% if (user) { %>
      <a href="#" class="btn" id="new-question">+ Join Queue</a>
      <!-- modal for adding new question -->
      <div class="modal nqm" style="display:none;">
        <div class="modal-background"></div>
        <div class="modal-content" style="text-align: right">
          <button class="delete is-large" aria-label="close" id="close-modal"></button>
          <p align="left">Your name will display in the queue as: <b><%= user %></b></p>
          <br>
          <p> </p>
          <textarea type="text" class="textarea" placeholder="Optional: write anything to help the TAs understand your question" id="question-text"></textarea>
          <br>
          <a class="button is-success" type="submit" id="submit-question">Join Queue</a>
        </div>
      </div>
      <% } else { %>
      <a class="btn" href="/account/login">Log in to Join Queue</a>
      <% } %>

      <ul id="questions">
        <% if (typeof questions == 'object') { %>
          <% questions.forEach(function(q) { %>
          <li data-qid=<%= q.id %>><%= q.author %> </li>
          <% }) 
        } %>
      </ul>
      </div>
          
      <!-- where a queue item is displayed -->
      <div class="right-col">
        <div id="show-question" style="display:none">
            <div id="question-info">
              <i>Student name</i>
              <p id="author" style="font-size:2rem; font-weight:600"></p>
              <hr>
              <p> 
                <i>Question details</i>
                <br>
                <span id="questionText"></span>
              </p>
              <br>
              <hr>
              <div style="text-align:center;">
                <a class="button is-warning" type="btn" id="remove-queue-item" style="vertical-align: center">Remove from Queue</a>
              </div>
            </div>
            <br/><br/>
            <div style="text-align:center;">
              <% if (userType === 'ta') { %>
              <a class="button is-success" type="submit" id="seeStudent">See this Student</a>
              <% } %>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>