<html>
  <head>
    <title>Office Hours Queue</title>
    <!-- new  stuff -->
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>

  <body>
    <div class="nav">
      <h2>Office Hours Queue</h2>
      <% if (user) { %>
      <p>Hi <%= user %> | 
      <a href="/account/logout">Log out</a>
      </p>
      <% } %>
    </div>
    <div class="main-body">
      <div class="left-col">
      <% if (user) { %>
      <a href="#" class="btn" id="new-question">+ Join Queue</a>
      <!-- modal for adding new question -->
      <div class="modal" style="display:none">

        <div class="question-area">
          <p>Your name will display in the queue as: <%= user %> </p>
          <br>
          <p>Optional: write anything to help a TA understand your question </p>
          <textarea type="text" id="question-text" style="margin-top:0">
          </textarea>
          <a class="btn" type="submit" id="submit-question">Join</a>
          <a class="btn" id="close-modal">Close</a>
        </div>
      </div>
      <% } else { %>
      <a class="btn" href="/account/login">Log in to Join Queue</a>
      <% } %>

      <ul id="questions">
        <% if (typeof questions == 'object') { %>
          <% questions.forEach(function(q) { %>
          <li data-qid=<%= q.id %>><%= q.author %> </li>
          <% }) 
        } %>
      </ul>
      </div>
          
      <!-- where a queue item is displayed -->
      <div class="right-col">
        <div id="show-question" style="display:none">
            <div id="question-info">
              <p id="author" style="font-size:3rem"></p>
              <p> Question details: <span id="questionText"></span></p>
              <a class="btn" type="btn" id="remove-queue-item">Remove from Queue</a>
            </div>
            <br/><br/>
            <% if (user.type === "TA") { %>
            <a class="btn" type="submit" id="seeStudent">See student</a>
            <% } %>
        </div>
      </div>
    </div>
  </body>
</html>