<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <div id="login_box"></div>

    <h1>Log in</h1>
    <form method="POST">
      Name: <br/>
      <input type="text" name="username"/> <br/><br/>
      Password: <br/>
      <input type="password" name="password"/> <br/><br/>
      User type: <br/>
      <select name="type">
        <option value="student">Student</option>
        <option value="ta">TA</option>
      </select>
      <button type="submit">Log in</button> <br/>
    </form>

    <br><br>
    <p>Don't have an account for today's OHQ yet? Sign up <a href="/account/signup">here</a></p>


    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="login_box.js"></script>
  </body>
</html>
