<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <h1>Log in</h1>
    <form method="POST">
      Name: <br/>
      <input type="text" name="username"/> <br/><br/>
      Password: <br/>
      <input type="password" name="password"/> <br/><br/>
      User type: <br/>
      <select name="type">
        <option value="student">Student</option>
        <option value="ta">TA</option>
      </select>
      <button type="submit">Log in</button> <br/>
    </form>

    <br><br>
    <p>Don't have an account for today's OHQ yet? Sign up <a href="/account/signup">here</a></p>
  </body>
</html>
