<html>
  <head>
    <title>Sign up page</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <p>Enter your name as it will be displayed in the queue. Set an easy password so you can modify your entries on the queue.</p>
    <form method="POST">
      Username: <br/>
      <input type="text" name="username"/> <br/><br/>
      Password: <br/>
      <input type="password" name="password"/> <br/><br/>
      User type: <br/>
      <select name="type">
        <option value="student">Student</option>
        <option value="ta">TA</option>
      </select>
      <br><br>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
