body {
  font-family: 'system-ui';
  margin: 0px;
  background-color: #f2f2f2;
}

.nav {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #e3e3e3;
}

.nav > p {
  padding-right: 20px;
}

.nav > h2 {
  display: inline-block;
  padding-left: 20px;
}

.btn {
  text-decoration: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  background-color: #00d2b4;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.left-col {
  width: 30%;
  height: 90%;
  overflow-y:  scroll;
  float: left;
  display: inline-block;
  background-color:#ffffff;
}

.right-col {
  width: 60%;
  margin-left: 5%;
  display: inline-block;
}

#true {
  background-color: #e3e3e3;
  border: 1px solid #8e8e8e;
  color: #8e8e8e;
}

li {
  list-style: none;
  padding: 20px;
  margin: 5px;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  transition: all 0.5s
}

li:hover {
  background-color: #be81e8;
  color: #FFF;
  cursor: pointer;
}

ul {
  padding: 0px;
}

#question-info {
  margin: 0 auto;
  margin-top: 5%;
  padding: 5%;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  background-color: #ffffff;
}

#question {
  font-size: 2rem;
}

#answer {
  padding-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

/*.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  background-color: rgba(33,33,33,.2);
}

.modal > .question-area {
  background-color: #FFF;
  width: 50%;
  height: 30%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 200px;
  margin-bottom: 50px;
  padding:25px;
}*/

.modal-content {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 5px;
  margin-top: 10%;
}

.modal-background {
  background: rgba(33,33,33,0.3);
}

/*.question-area > textarea {
  width: 80%;
  margin: 10%;
}*/

#seeStudent {
  margin: 0 auto;
}